<!DOCTYPE html>
<html ng-app="clienteModule">
<head>
	<meta-charset="utf-8">
	<title>Cliente</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="control/clienteControl.js"></script>

</head>
<body ng-controller="clienteControl">
	<div class="panel panel-default">
		<div ng-include="'menu.html'"></div>
		<div class="panel-heading">Cadastro de cliente</div>
		<div class="panel-body">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
			    </li>
			    <li role="presentation">
			    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="cadastro">
					<br>
					
				  	<form name="form" class="css-form" ng-submit="form.$valid && salvar()" novalidate>
				  	<br>
						<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
						<div ng-show="form.$submitted">
						     <div ng-show="form.nome.$error.required">Preencha o nome</div>
	      				     <div ng-show="form.nome.$error.minlength">Nome precisa ter pelo menos 3 caracteres</div>
	      				     <div ng-show="form.telefone.$error.required">Preencha o telefone</div>
	      				     <div ng-show="form.telefone.$error.pattern">Telefone deve seguir o padrão 0000-0000</div>
	      				</div>    				
						<br>
					  <div class="form-group">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="text" class="form-control" disabled="true" ng-model="cliente.codigo" placeholder="Codigo">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputNome">Nome</label>
					    <input type="text" class="form-control" ng-model="cliente.nome" placeholder="Nome">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputTelefone">Telefone</label>
					    <input type="text" class="form-control" ng-model="cliente.telefone" placeholder="Telefone">
					  </div>
					  </form>
					<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
					<button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
					<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="dados">
				<br>
				  	<table class="table table-hover">
			    		<th>Codigo</th><th>Nome</th><th>Telefone</th>

			    		<tr ng-repeat="clienteTabela in clientes | filter:criterio" ng-click="seleciona(clienteTabela);">
			    			<td>{{clienteTabela.codigo}}</td><td>{{clienteTabela.nome}}</td><td>{{clienteTabela.telefone}}</td>
			    		
			    		</tr>
					</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>